@import url(./fonts.css);

/* CSS variable*/
@import url(./partials/_variables.css);

/* importar global estilos */
@import url(./partials/_global.css);


/* Inicia Navegacion */
.header_class .main_menu .navbar .navbar-brand{

    padding: 0 2rem 0 5rem;

}

.header_class .main_menu .navbar{

    padding: 1rem 12rem;
}

.header_class .main_menu .nav-item .nav-link {

    font-family: var(--roboto-slab);
    text-transform: uppercase;
    /* parece innecesario */
    font-weight: 500;
    padding: 0.9rem;
    color: var(--color-titulo);
}

.header_class .main_menu .navbar-nav .active a{

    background: var(--color-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: text;
}


.header_class .main_menu .navbar-nav a:hover{

    background: var(--color-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: text;
}
/* Fin Navegacion */

/* Banner Area */

.site-main .site-banner {

    background: url(../img/banner/home-banner.png) no-repeat 0% 50%;
   
}

.site-main .site-banner .site-title h3{

    padding-top: 20%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{

  content: "";
  height: 2px;
  width: 20vw;
  background: black;
  display: inline-block;
  margin-left: 7%;
  transform: translateY(-15px);
  
}

.site-main .site-banner .row {

    padding: 80px 80px;
}


.site-main .site-banner .site-title h1{
    font-size: 4rem;
}

.site-main .site-banner .site-title h4{
    font-size: 1.3rem;
}

.site-main .site-banner .banner-image img{
    padding: 1rem 1rem;
    height: 30rem;
   
   width: 90rem;
}





/* End banner area*/